body {
    margin: 0;
    padding: 0;
    background: rgb(174,238,224);
    background: radial-gradient(circle, rgba(174,238,224,1) 0%, rgba(148,187,233,1) 10%);
    font-family: 'Young Serif', serif;

}
h1{
    text-align: center;
    font-size:80px;
    font-style: normal;
    font-weight: 100;
 
}
p{
    text-align: center;
    font-size: small;
    font-style: italic;
}
nav ul{
    list-style-type: none;
    text-align: right;
}
nav li{
    display: inline;
    margin-right: 20px;
    text-align: right;
}
nav a{
    text-decoration: none;
    color:black;
    padding: 2px;
    text-align: inherit;
}
footer{
    color:black;
    text-align:center;
    padding-bottom: 80px;
    position: relative;
}
video{
    margin: 150px;
}